{% extends 'base.html' %}

{%block title %}404 | The Lost Archive{% endblock %}
{%block header %}THE LOST PAGE{% endblock %}

{% block content %}

<meta property="og:description" content="Error 404 | Page not found">


<article>
    <h2 class='heading'>ERROR 404</h2>
    <p class='description'>
        <span class="thing1" style="font-size: 170%">Your quest to find this lightsaber has failed.<br></span>
        <br>
        <span>(We couldn't locate that page/url on our servers)</span>
    </p>
</article>

{% endblock %}  