{% extends 'base.html' %}

{%block title %}500 | The Lost Archive{% endblock %}
{%block header %}THE DEATH STAR EXPLODES{% endblock %}

{% block content %}

<meta property="og:description" content="Error 500 | Server Error">

<article>
    <h2 class='heading'>ERROR 500</h2>
    <p class='description'>
        <span class="thing1" style="font-size: 170%">Your shot hit the target! The death star explodes. <br></span>
        <br>
        <span>(We had an internal server error and could not process your request)</span>
    </p>
</article>

{% endblock %}   