{% extends 'base.html' %}

{%block title %}About | The Lost Archive{% endblock %}
{%block meta_title %}About | The Lost Archive{% endblock %}
{%block meta_desc %}About the Fan Film. Have questions? Contact us!{% endblock %}
{%block header %}THE LOST ARCHIVE{% endblock %}

{% block content %}

<article>
    <h2 class='heading'><em>What</em> is The Lost Archive?</h2>
    <p>
        <br> Our Star Wars fan film follows Dane, a teenaged orphan living with his brother on the planet Baeliv. 
        <br> Dane has a vision, after which he abruply leaves home. 
        <br> Where will his voyage lead him, and what will he find?
        <br> We hope you find out.
    </p>
</article>

<article>
    <h2 class='heading'><em>Where</em> is The Lost Archive?</h2>
    <p>
        TLA is being filmed in the Hudson Valley, New York. 
        <br>
        We're based in New Paltz, but are filming in areas all around. 

    </p>
</article>

<article>
    <h2 class='heading'><em>When</em> is The Lost Archive?</h2>
    <p>
        We're currently in the pre-production phase, but expect to start filming in May/June 2022. 
        <br>
        After we do start filming, we should be done by Fall. We're hoping to be all done by the end of the year. 
    </p>
</article>
    <br>
    <br>

{% endblock %}