{% extends 'base.html' %}

{%block title %}BTS | The Lost Archive{% endblock %}
{%block meta_title %}Behind The Lost Archive{% endblock %}
{%block meta_desc %}Interested in a behind the scenes peek at TLA?{% endblock %}
{%block header %}BEHIND THE LOST ARCHIVE{% endblock %}

{% block content %}

<article>
    <h2 class='heading'>Behind The Scenes</h2>
    <div class="container">

        {% for image in images %}

        <div class="gallery-container w-3 h-3">
          <div class="gallery-item">
            <div class="image">
              <a href="{{ image['url'] }}">
                <img src="{{ image['url'] }}" alt="{{ image['filename'] }}">
              </a>
            </div>
            <div class="text">{{ image['filename'] }}</div>
          </div>
        </div>
      
        {% endfor %}
</article>

<img class='tiefighters' src='https://cdn.discordapp.com/attachments/954158097012781066/960566221336621086/5bc4ce71b6e2f-c97393aff567393e66d45946be6c66e1.png'> 
<img class='awing' src="https://cdn.discordapp.com/attachments/954158097012781066/960566601315401778/anakin-skywalker-star-wars-a-wing-x-wing-starfighter-y-wing-admiral-ackbar-ship-954b85b63ccb45e58a2e83a6a6084fc4.png">

{% endblock %} 