{% extends 'base.html' %}

{%block title %}Edit Person{% endblock %}
{%block header %}THE UPDATED? PERSON{% endblock %}

{% block content %}

<article>
    <h2 class='heading'>Update details on a person</h2>
    <p>
       Select which person to update and enter their information. Click submit to add to the database!
    </p>

    <form action="/update" method="post">

        <label for="Name">Full Name</label><br>
        <input type="text" id="Name" name="Name" value="{{ person['Name'] }}"><br><br>

        <label for="Age">Age: </label><br>
        <input type="text" id="Age" name="Age" value="{{ person['Age'] }}"><br><br>

        <label for="Roles">Roles: (Seperated by comma)</label><br>
        <input type="text" id="Roles" name="Roles" value="{{ ','.join(person['Roles'])}}"><br><br>

        <label for="Picture">Link to pfp: (leave blank for none)</label><br>
        <input type="text" id="Picture" name="Picture" value="{{ person['Picture'] }}"><br><br>

        <label for="socials">Socials: (Seperated by comma, full url)</label><br>
        <input type="text" id="socials" name="socials" value="{{ ','.join(person['socials']) }}"><br><br>

        <label for="About">About me: </label><br>
        <textarea id="About" name="About" rows="4" cols="50" >{{ person['About'] }}</textarea><br><br>

        <label for="password">Enter the password: </label><br>
        <input type="password" id="password" name="password"><br><br>

        <input type="submit" value="Submit">
    </form>
</article>

<img class='tiefighters'
    src='https://cdn.discordapp.com/attachments/954158097012781066/960566221336621086/5bc4ce71b6e2f-c97393aff567393e66d45946be6c66e1.png'>
<img class='awing'
    src="https://cdn.discordapp.com/attachments/954158097012781066/960566601315401778/anakin-skywalker-star-wars-a-wing-x-wing-starfighter-y-wing-admiral-ackbar-ship-954b85b63ccb45e58a2e83a6a6084fc4.png">

<br>
<br>
<br>

{% endblock %} 