{% extends 'base.html' %}

{%block title %}The Lost Archive{% endblock %}
{%block meta_title %}The Lost Archive by Saber Films{% endblock %}
{%block meta_desc %}Homepage for the Star Wars Fan Film{% endblock %}
{%block header %}THE LOST ARCHIVE{% endblock %}

{% block content %}

<article>
    <h2 class='heading'>A Star Wars Story</h2>
    <p>
        The Lost Archive is a Star Wars Fan Film currently in production by Saber Films
    </p>
</article>

<img class='tiefighters' src='https://cdn.discordapp.com/attachments/954158097012781066/960566221336621086/5bc4ce71b6e2f-c97393aff567393e66d45946be6c66e1.png'> 
<img class='awing' src="https://cdn.discordapp.com/attachments/954158097012781066/960566601315401778/anakin-skywalker-star-wars-a-wing-x-wing-starfighter-y-wing-admiral-ackbar-ship-954b85b63ccb45e58a2e83a6a6084fc4.png">

<iframe width="560" height="315" src="https://www.youtube.com/embed/HGyEALPYePE"
 title="YouTube video player" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
   allowfullscreen></iframe><br><br>

<a class="donate-button" href="https://www.gofundme.com/f/the-lost-archive-a-star-wars-fan-film">Support Us!</a>

<br>
<br>
<br>

{% endblock %}