{% extends 'base.html' %}

{%block title %}About | The Lost Archive{% endblock %}
{%block meta_title %}About | The Lost Archive{% endblock %}
{%block meta_desc %}About the Fan Film. Have questions? Contact us!{% endblock %}
{%block header %}THE LOST ARCHIVE{% endblock %}

{% block content %}

<article class="person-about">
    <h2 class='heading'>Plot Summary</h2>
    <p>
        <br>Dane wakes up after having a vision, and sets off on a quest to find Grand Master Yoda's lightsaber.
        <br>He leaves his home planet and brother behind, stealing a ship and heading to Dagobah.
        <br>Meanwhile, someone else is buying a ship
        <br>Dane fights his way onto Dagobah and finds the lightsaber - and finds a friend.
        <br>After staying on Dagobah to train, when he tries to leave he encounters the Sith who killed his father.
        <br>
        <br>What happens next? I guess you'll have to wait and see...
    </p>
</article>

<article class="person-about">
    <h2 class="heading">Screenplay</h2>
    <a href="/downloads/TheLostArchive.pdf" class="donate-button">Read/Download the script</a>
    <br>
</article>

<article class="person-about">
    <h2 class="heading">Full plot</h2>
    <p>
        abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVW
    </p>
</article>

<br>
<br>
{% endblock %}